<p id="notice"><%= notice %></p>

<p>
  <strong>Time jst:</strong>
  <%= @bakusokukun.Time_JST %>
</p>

<p>
  <strong>Num of pages:</strong>
  <%= @bakusokukun.Num_of_Pages %>
</p>

<%= link_to 'Edit', edit_bakusokukun_path(@bakusokukun) %> |
<%= link_to 'Back', bakusokukuns_path %>
